@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Gotham-Font/GothamBold.ttf') format('truetype');
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}
