@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Gotham-Font/GothamBold.ttf');
    src: local('Gotham'), local('Gotham'),
    url('../font/Gotham-Font/GothamBold.ttf') format('truetype'); /* Safari, Android, iOS */
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gotham', sans-serif;
}
